.App {
  text-align: center;
}

.Lines-back {
  height: 200vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Lines-back {
    /*animation: App-logo-spin infinite 20s linear; */
  }
}

.Station-circle {
  height: 3vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Container for the entire app */
.container {
  padding: 20px;
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Styling for the SVG map */
.svg {
  height: 100vh;
  width: 100vw;
}

/* Container for the station and travel info */
.infoContainer {
  margin-top: 20px;
  text-align: center;
  background-color: #eee;
}

/* Button styles */
.button {
  margin-top: 10px;
  padding: 10px;
  background-color: #007BFF;
  border-radius: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
}
